*{
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    ---background: #000000;
    ---white: #ffffff;
    ---purple: #6C63FF;
    ---purple2: #7d76f5;
    ---blue: #03AAFF;
    ---color1 : #2e2e2e;
    ---color2: #ffffff;
    ---color3: #f7f7f7;
    ---color4: #000000;
    ---color5: whitesmoke;
    ---color6: #000000;
}

body{
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

nav{
    width: 100%;
    background-color: var(---background);
    height: 80px;
    display: flex;
    justify-content: flex-start;
    padding: 30px;
    align-items: center;
    z-index: 9;
}
.mobile-menu{
    cursor: pointer;
    display: none;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #ffffff;
    margin: 8px;
}

.back-btn{
    height: 32px;
    width: 75px;
    background-color: var(---color2);
    border-radius: 40px;
    padding: 3px;
    display: flex;
    align-items: center;
    margin-left: auto;

}
.circle-btn{
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: var(---color1);
    cursor: pointer;
    transition: margin-left 0.3s ease-in-out;

}
.dark-mode{
    margin-left: 60%;
}

.icon{
    font-size: 45px;
    font-weight: bold;
    background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(3,170,255,1) 50%, rgba(0,245,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding: 0 50px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}


.social{
    margin-top: 30px;
    margin-left: 10%;
    background-color: #0000001a;
    padding: 20px;
    width: 320px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.media{
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: 0.5s;
    background-position: center center;
}
.github{
    background-image: url('images/icons/github1.png');
    
}
.github:hover{
    background-image: url('images/icons/github2.png');
}
.linkedin{
    background-image: url('images/icons/linkedin1.png');
}
.linkedin:hover{
    background-image: url('images/icons/linkedin2.png');
}
.email{
    background-image: url('images/icons/email1.png');
}
.email:hover{
    background-image: url('images/icons/email2.png');
}
.whats{
    background-image: url('images/icons/whatsapp1.png');
}
.whats:hover{
    background-image: url('images/icons/whatsapp2.png');
}
.instagram{
    background-image: url('images/icons/instagram1.png');
}
.instagram:hover{
    background-image: url('images/icons/instagram2.png');
}

nav ul{
    display: flex;
    align-items: center;
}
nav li a{
    text-decoration: none;
    color: var(---white);
    letter-spacing: 0.10rem;
    position: relative;
}
nav ul a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #03AAFF;
    position: absolute;
    bottom: -0.5rem;
    left: -0.5rem;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

nav ul a:hover::after{
    width: calc(100% + 1rem);
}


nav li{
    padding: 0 20px;
    list-style-type: none;
    font-size: 20px;
}

.main{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #6C63FF;
}
.left{
    flex: 1;
    background: rgb(108,99,255);
    background: linear-gradient(21deg, rgb(154, 149, 255) 0%, rgb(16, 0, 240) 100%);
    transition: 0.9s;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
}
.legend{
    color: var(---white);
    font-size: 54px;
}
.left h1, .left p, .linkProjects{
    margin-left: 10%;
}

.Joao h1{
    font-size: 78px;
    padding-bottom: 50px;
    font-weight: bold;
    background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(3,170,255,1) 50%, rgba(0,245,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.call-to-action{
    height: 44px;
    width: 320px;
    border: none;
    border-radius: 4px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    background-color: var(---white);
    cursor: pointer;
    transition: 0.6s;
    margin-top: 34px;
}
.call-to-action:hover{
    color: var(---white);
    background-color: #03AAFF;
}
.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(---color5);
    height: 100%;
}
.right img{
    width: 80%;
}

.about{
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 80px;
}

.avatar{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    flex: 1;
    padding: 80px;
}

.container h1{
    font-size: 45px;
    margin-bottom: 20px;
}
.container p{
    line-height: 2rem;
    font-size: 20px;
    padding: 20px;
}


.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(---color3);
    padding: 80px 0;
}
#adiciona_Projeto img{
    width: 800px;
    border-radius: 15px;
    z-index: 8;
}

#adiciona_Projeto{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop-up{
    position: relative;
    margin-top: 200px;
    padding: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(---color2);
    border-radius: 15px;
    overflow: hidden;
    flex-direction: column;
    z-index: 1;
}
.pop-up:before{
    content: '';
    position: absolute;
    width: 200px;
    height: 300%;
    background: linear-gradient(180deg, #03AAFF, rgb(19, 255, 157));
    animation: animate 6s linear infinite;
}

@keyframes animate{
    100% {
        transform: rotate(360deg);
    }
}

.pop-up:after{
    content: '';
    background-color: #ffffff;
    inset: 5px;
    border-radius: inherit;
}

.project-btn{
    border: 1px solid;
    border-color: var(---color6);
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(---color2);
    cursor: pointer;
    transition: 0.6s;
    color: var(---color6);
}
.project-btn:hover{
    background-color: var(---color6);
    color: var(---color2);
}
.project-name{
    color: var(---color6);
}
.pop-btn{
    width: 800px;
    margin-top: 20px;
    display: none;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.my_projects{
    font-size: 45px;
    color: var(---purple);
    margin-bottom: 20px;
}
.description p{
    font-size: 20px;
    font-style: italic;
    color: var(---color1)
}

.slider{
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin-top: 80px;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
}
.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
    border-radius: 10px;
    cursor: pointer;
}


.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: var(---purple);
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{ /* Corrija para #radio3 */
    margin-left: -50%; /* Corrija para -50% */
}
#radio4:checked ~ .first{ /* Adicione esta regra para o quarto botão */
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;

}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: var(---white);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: var(---white);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: var(---white);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: var(---white);
}

.orcamento{
    margin-top: 80px;
    padding: 20px 30px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    background-color: var(---blue);
    cursor: pointer;
    transition: 0.7s;
}
.orcamento a{
    color: var(---color4);
    text-decoration: none;
}

.orcamento:hover{
    transform: scale(1.1);
}


footer{
    padding: 60px 0;
    background-color: var(---background);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.text-footer{
    color: var(---white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-footer h1{
    font-size: 25px;
    padding: 12px;
}
.text-footer h2{
    font-size: 18px;
    color: #747474;
}
.navegation{
    display: flex;
    flex-direction: column;
}
.navegation h1{
    color: #ffffff;

}
.navegation li{
    margin-top: 12px;
    list-style: none;
}
.navegation a{
    text-decoration: none;
    color: #747474;
    transition: 0.5s;
}

.navegation a:hover{
    color: white;
}
.ordena{
    display: flex;
    justify-content: space-around;
    width: calc(100vw / 2);
}

@media (max-width: 1000px){
    
    .left, .right{
        width: 100%;
        padding: 20px;
    }
    .Joao h1{
        padding: 30px 0;
        font-size: 60px;
    }
    .left{
        justify-content: center;
        align-items: center;
        flex: 1.5;
    }
    
    .left h1, .left p, .linkProjects, .social{
        margin-left: 0;
    }
    .legend{
        font-size: 35px;
    }
    .about{
        flex-direction: column;
    }
    .avatar img{
        width: 80%;
    }
    .slider, .manual-navigation{
        width: 80%;
    }
    
    .slides img{
        width: 100%;
    }
    #adiciona_Projeto img{
        width: 100%;
    }
    .navigation-auto{
        width: 80%;
        display: none;
    }
    footer{
        padding: 30px 0;
    }
    
    .text-footer h1{
        font-size: 20px;
        padding: 12px;
    }
    .text-footer h2{
        font-size: 15px;
        color: #747474;
    }
    .navegation h1{
        font-size: 25px;
    }
    .pop-up, .pop-btn {
        width: 80%;
    }
    .slides, .slider{
        height: 40%;
    }
    .pop-up{
        margin-top: 40px;
    }
}

@media (max-width: 785px){

    nav ul{
        position: absolute;
        top: 8vh;
        left: 0;
        width: 30vw;
        height: 92vh;
        background: #000000;
        z-index: 9;
        flex-direction: column;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list.active{
        transform: translateX(0);
    }
    body{
        overflow-x: hidden;
    }
    nav ul li{
        margin-top: 40px;
        margin-left: 0;
    }
    .mobile-menu{
        display: block;
    }
    
        

    .main{
        flex-direction: column;   
        }
    .right img{
        width: 60%;
    }
    .icon{
        font-size: 25px;
        padding: 0 10px;
    }
    nav{
        padding: 15px;
    }
    .avatar img{
        width: 60%;
    }
    .container h1{
        font-size: 35px;
    }
    .container p{
        font-size: 18px;
    }
    .back-btn{
        width: 34px;
    }
   
    .dark-mode{
        margin-left: 0%;
    }
    .project-name{
        font-size: 20px;
    }
    .project-btn{
        font-size: 14px;
        padding: 10px;
    }
    nav li{
        padding: 0 7px;
    }
    .container{
        padding: 30px;
    }
}
@media (max-width: 520px){
    .pop-up:before{
        width: 100px;
    }
    
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-footer{
        order: 3;
        margin-top: 12px;
    }
    .ordena{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .pop-btn{
        flex-direction: column;
    }
    .pop-btn h1, .pop-btn a{
        margin-bottom: 12px;
    }
}
@media(max-width: 320px){
    .icon{
        font-size: 15px;
    }
    nav li{
        padding: 0 5px;
    }
    nav li a{
        font-size: 12px;
    }
}